.liens-footer {
    font-size: small;
}

.liens-footer a[href]{
    text-decoration: none;
    color: white;
}

.liens-footer a[href]:hover{
    text-decoration: underline;
}

#imieBgnd {
    background-image: url("../assets/img/imie_background.png");
    background-size: 40em;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c163a !important;
    padding: 7vh;
}

#img-text {
       color: rgb(240, 234, 234) !important;
       text-shadow: 6px 6px 6px black, -1px 0 rgb(58, 57, 57), 0 1px rgb(58, 57, 57), 1px 0 rgb(58, 57, 57), 0 -1px rgb(58, 57, 57);
}

#Accueil h2, #CurriculumVitae h2, #TravauxRealises h2, #Recommandations h2, #Contact h2{
    text-decoration: underline;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}