.carousel{
    margin-bottom: 1vh;
}

.carousel-inner{
    position: relative;
    border-radius: 10px;
}

#inner-travaux {
	height: 40vh;
}

#inner-recommandations {
	height: 15vh;
}

.carousel-inner a img{
    border-radius: 10px;
}

.carousel-caption{
    top: 0;
    bottom: auto;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#inner-travaux .carousel-caption {
	top: 25vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

.carousel-indicators {
    margin-bottom: 5px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 100%;
}