#sources a[href]{
    text-decoration: none;
    color: white;
}

#sources a[href]:hover{
    text-decoration: underline;
}

#imieBgnd {
    background-image: url("../imie_background.png");
    background-size: 40em;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c163a !important;
    padding: 7vh;
}

#img-text {
       color: rgb(240, 234, 234) !important;
       text-shadow: 6px 6px 6px black;
}

#Accueil, #CurricculumVitae, #TravauxRealises, #Recommandations, #Contact h2{
    text-decoration: underline;
}